@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-primary: #1B6BFF;
   --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-600: #155EEF;
  --color-green: #10B981;
  --color-purple: #7C3AED;
  --color-yellow: #F59E0B;
  --color-red: #EF4444;
  --color-black:#1e2758
}

